body {
	margin:auto;
	display: block;
	width: 100%;
	
	}
	
.header  .logo{
	margin: auto;
	display: block;
	float:left;
	width:93px;
	height:114px;
	background-color:#31221e;
	margin-left:36px;
	margin-top:12px;
	}
	
.header {
	margin:auto;
	display:block;
	float:left;
	background-color:#31221e;
	width:1020px;
	height:140px;

	}
	
.header h1 {
	font-family:Helvetica;
	color:#e7c004;
	font-size:18px;
	padding-top:48px;
	padding-left:108px;
	margin-top:0px;
	margin-left:108px;

	}

.header h2 {
	font-family:Helvetica;
	color:#e7c004;
	font-size:18px;
	padding-left:108px;
	margin-top:0px;
	margin-left:108px;

	}
	
.headerline{
	display:block;
	margin:auto;
	float:left;
	height:10px;
	width:1020px;
	background-color:#e7c004;

	}