body {
	margin:auto;
	display: block;
	width: 100%;
	
	}

.sitelogo  {
	display: block;
	width:93px;
	margin: auto;
	padding-bottom: 17px;
	float: left;
	padding-left: 36px;
	
	}
	
.sitelogo  .logo{
	margin: auto;
	display: block;
	float:left;
	
	}
	
.header {
	margin:auto;
	display:block;
	float:left;
	background-color:#31221e;

	}
	
.header h1 {
	font-family:Helvetica;
	color:#e7c004;
	

	}