body {
	margin:auto;
	display: block;
	width: 100%;
	background-color:#31221e;
	}
	
.header  .logo{
	margin: auto;
	display: block;
	float:left;
	width:93px;
	height:114px;
	background-color:#31221e;
	margin-left:36px;
	margin-top:12px;
	}
	
.header {
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background-color:#31221e;
	width:1020px;
	height:140px;

	}
	
.logocontain{
	flex: 1,1,0;

	}
	
.hours{
	flex:1,2,2;

	}
	
.navbuttons{
	flex:1,1,0;
	
	}
	
.header h1 {
	font-family:Helvetica;
	color:#e7c004;
	font-size:18px;
	padding-top:48px;
	margin-top:0px;
	margin-left:108px;

	}

.header h2 {
	font-family:Helvetica;
	color:#e7c004;
	font-size:18px;
	margin-top:0px;
	margin-left:108px;

	}
	
.headerline{
	display:block;
	margin:auto;
	float:left;
	height:10px;
	width:100%;
	background-color:#e7c004;

	}

.navbuttons {
	float:left;
	margin:auto;
	margin-right:36px;
	

	}
	
.navbuttons ul {
	margin:auto;
	padding-left: 0px;
	float:left;
	}


.navbuttons ul li{
	font-family:Helvetica, sans-serif;
	font-size:18px;
	list-style-type:none;
	margin-top:10px;
	}
	
.navbuttons ul li a{
	color:#e7c004;
	text-decoration:none;
	border:1px solid #b46021;
	display:block;
	width:150px;
	height:20px;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
	}

.navbuttons ul li a:hover {
	background-color: #53321f;
	opacity:0.4px;
	
	}
	
.container{
	margin:0 auto;
	width:1020px;
	height:725px;
	background:url('../images/background.png') no-repeat;
	background-color:#31221e;
	
	}
	
.logobody{
	margin:0 auto;
	width:350px;
	height:350px;
	border:2px solid #b46021;
	border-radius:50%;
	top:80px;
	position:relative;
	
	}

.mapembed{
	margin:0 auto;
	width:350px;
	height:350px;
	border:2px solid #b46021;
	border-radius:50%;
	top:80px;
	position:relative;
	overflow:hidden;
	

}
	
.logobody .bodylogo{
	margin:auto;
	margin-left:130px;
	margin-top:125px;
	
	}
	
.bodylinks{
	position:relative;
	margin:0 auto;

	}
	
.aboutbox{
	margin:0 auto;
	margin-left:25%
	float:left;
	width:150px;
	height:150px;
	border:2px solid #b46021;
	border-radius:50%;
	top:120px;
	position:relative;
	transition:background-color 0.2s;
	
	
	}

.aboutbox:hover{
	background-color: #53321f;
	opacity:0.4px;
	
	}
	
.aboutbox .aboutimage{
	margin:0 auto;
	margin-top:35px;
	display:block;
	
	}
	
.menuhubbox{
	margin:0 auto;
	margin-left:25%;
	bottom:100px;
	float:left;
	width:150px;
	height:150px;
	border:2px solid #b46021;
	border-radius:50%;
	position:relative;
	transition:background-color 0.2s;
	
	
	}

.menuhubbox:hover{
	background-color: #53321f;
	opacity:0.4px;
	
	}
	
.menuhubbox .menuhubimage{
	margin:0 auto;
	margin-top:35px;
	display:block;
	
	}
	
.contactbox{
	margin:0 auto;
	margin-left:20%;
	bottom:100px;
	float:left;
	width:150px;
	height:150px;
	border:2px solid #b46021;
	border-radius:50%;
	position:relative;
	transition:background-color 0.2s;
	
	
	}

.contactbox:hover{
	background-color: #53321f;
	opacity:0.4px;
	
	}
	
.contactbox .contactimage{
	margin:0 auto;
	margin-top:35px;
	display:block;
	
	}
	
.footer{
	margin:auto;
	display:block;
	float:left;
	background-color:#31221e;
	width:1020px;
	height:70px;

	}
	
.clear{
	clear:both;
	}